.search__container {
  margin-bottom: 18px;
}

.input__mtcm {
  width: 50%;
}

.row {
  cursor: pointer;
  text-transform: capitalize;
}

.action__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
