.search__container {
  margin-bottom: 18px;
}

.input__mtcm {
  width: 50%;
  height: fit-content;
}

.input__mtcm__long {
  width: 100%;
  height: fit-content;
}

.row {
  cursor: pointer;
}

.action__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-right: 8px;
}

.title__container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.desc__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button__action__container {
  line-height: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button__dashboard__container {
  line-height: normal;
  display: flex;
  gap: 8px;
}
